.adminBtn{
	margin-top:20px;
	width:80px;
	height:30px;
	font-size:15px;
}


a{
	text-decoration-line: none;
	color:black;
}

#content{
	margin-left:-3%;
	text-align:center;
}

#faq11{
	margin-left:25%;
	margin-top:5%;
	width:800px;
	height:600px;
	border:2px solid #dddddd;
}
ul{
	margin-left:10%;
	font-size:20px;
}

.btn{
	width:100px;
	height:40px;
	font-size:20px;
}

#buttonArea{
	margin-top:10%;
	margin-left:32%;

}

#submitbtn{
	margin-left:48%;
	

	margin-top:-9%;
	
	background-color:black;
	color:white;
	font-size:20px;
	font-weight:bold;
	width:100px;
	height:40px;
	border-radius: 10px;
	outline:0px;	
	cursor:pointer;
	border:0px;
	
	
	
	float: left;
}
